In [1]:
import json
import pandas as pd

In [18]:
csv_data1 = pd.read_csv("../corpora/eng_tok.csv", index_col=["Unnamed: 0"])
csv_data2 = pd.read_csv("../corpora/new_corpora.tsv", delimiter="\t")

In [19]:
csv_data1.head()

,eng,tok
0,the story of king frost,jan lawa lete
1,andrew lang,jan mali
2,there was once upon a time a peasantwoman who ...,meli ike pi mani ala li jo e meli lili tu
3,the daughter had her own way in everything,ona li pana e ijo mute tawa meli lili ona
4,and whatever she did was right in her mother’s...,taso ona li pana e ike taso tawa meli lili pi ...

In [20]:
csv_data2.head()

,tok_id,tok,eng_id,eng
0,614700,mi suli.,436275,I am tall.
1,614700,mi suli.,1120813,I'm important.
2,614700,mi suli.,1120816,I'm fat.
3,614700,mi suli.,1349767,I'm big.
4,614702,kili li tawa anpa poka kasi.,611122,The apple does not fall far from the tree.

In [21]:
csv_data2 = csv_data2.drop('tok_id', axis=1)
csv_data2 = csv_data2.drop('eng_id', axis=1)

In [24]:
csv_data2.shape

(27279, 2)

In [26]:
csv_combined = pd.concat([csv_data2, csv_data1], axis=0)
print(csv_combined.shape)
csv_combined.head()

(28619, 2)

                            tok                                         eng
0                      mi suli.                                  I am tall.
1                      mi suli.                              I'm important.
2                      mi suli.                                    I'm fat.
3                      mi suli.                                    I'm big.
4  kili li tawa anpa poka kasi.  The apple does not fall far from the tree.

In [28]:
csv_combined.to_csv("../corpora/final_data.csv", index=False)

In [32]:
len(csv_combined)

28619

In [37]:
import random

In [38]:
train_data = {"data": []}
test_data = {"data": []}
data = {}
with open("../corpora/eng_tok_train.json", 'w', encoding="utf-8") as f_train, open("../corpora/eng_tok_test.json", 'w', encoding="utf-8") as f_test:
    for line in zip(range(28619), csv_combined["eng"], csv_combined["tok"]):
        if line[2] != '':
            if random.randint(0, 100) < 20:
                test_data["data"].append({"id": str(line[0]), "translation": {'en': line[1], 'tok': line[2]}})
            else:
                train_data["data"].append({"id": str(line[0]), "translation": {'en': line[1], 'tok': line[2]}})
            
        # data[int(line[0])]=json_data
    f_train.write(json.dumps(train_data, ensure_ascii=False, indent=4))
    f_test.write(json.dumps(test_data, ensure_ascii=False, indent=4))

In [16]:
pd.read_parquet("../opus_books-train.parquet")

        id                                        translation
0        0  {'ca': 'Source: Project GutenbergTranslation: ...
1        1  {'ca': 'Les Aventures De Tom Sawyer', 'en': 'T...
2        2           {'ca': 'Mark Twain', 'en': 'Mark Twain'}
3        3                {'ca': 'PREFACI.', 'en': 'PREFACE'}
4        4  {'ca': 'La major part de les aventures consign...
...    ...                                                ...
4600  4600  {'ca': 'Així acaba aquesta cronica.', 'en': 'S...
4601  4601  {'ca': 'Com que és estrictament la historia d'...
4602  4602  {'ca': 'Quan hom escriu una novel·la sobre gen...
4603  4603  {'ca': 'La major part dels personatges que sur...
4604  4604  {'ca': 'Podra semblar, algun dia, que valgui l...

[4605 rows x 2 columns]

In [9]:
import json
import pandas as pd

with open("eng_tok.json", encoding="utf-8") as f:
    data = json.load(f)['data']

english = []
tokipona = []

for d in data:
    english.append(d['translation']['en'])
    tokipona.append(d['translation']['tok'])

df = pd.DataFrame({'English': english, 'Tokipona': tokipona}, index=[None]*len(english))
df.to_csv("eng_tok.csv")