In [1]:
import json
import pandas as pd

In [2]:
csv_data = pd.read_csv("../corpora/eng_tok.csv")

In [3]:
csv_data.head()

,Unnamed: 0,eng,tok
0,0,the story of king frost,jan lawa lete
1,1,andrew lang,jan mali
2,2,there was once upon a time a peasantwoman who ...,meli ike pi mani ala li jo e meli lili tu
3,3,the daughter had her own way in everything,ona li pana e ijo mute tawa meli lili ona
4,4,and whatever she did was right in her mother’s...,taso ona li pana e ike taso tawa meli lili pi ...

In [14]:
json_data = {}
data = {}
with open("../corpora/eng_tok_2.jsonl", 'w', encoding="utf-8") as f:
    for line in zip(csv_data["Unnamed: 0"], csv_data["eng"], csv_data["tok"]):
        json_data = {"id": str(line[0]), "translation": {'en': line[1], 'tok': line[2]}}
        # data[int(line[0])]=json_data
        f.write(str(json_data)+'\n')

In [16]:
pd.read_parquet("../opus_books-train.parquet")

        id                                        translation
0        0  {'ca': 'Source: Project GutenbergTranslation: ...
1        1  {'ca': 'Les Aventures De Tom Sawyer', 'en': 'T...
2        2           {'ca': 'Mark Twain', 'en': 'Mark Twain'}
3        3                {'ca': 'PREFACI.', 'en': 'PREFACE'}
4        4  {'ca': 'La major part de les aventures consign...
...    ...                                                ...
4600  4600  {'ca': 'Així acaba aquesta cronica.', 'en': 'S...
4601  4601  {'ca': 'Com que és estrictament la historia d'...
4602  4602  {'ca': 'Quan hom escriu una novel·la sobre gen...
4603  4603  {'ca': 'La major part dels personatges que sur...
4604  4604  {'ca': 'Podra semblar, algun dia, que valgui l...

[4605 rows x 2 columns]